.output-value{
	color: white;
	font-size: 24px;
}
.output{
	height:200px;
	background-color: black;
	padding: 16px;
}
.f-input{
	padding: 12px;
}
.container{
	padding:16px;
	min-height: 100vh;
}
.text-danger{
	color: red;
}
.form-input{
	padding:8px;
	border:2px solid gray;
}
.form-input:focus{
  outline: none;
  border: 2px solid green;
}
.form{
	border:1px solid gray;
	padding :16px;
}
.m-2{
	margin:8px;
}
.btn{
	padding:8px 10px 8px 10px;
	border:0px;
	cursor: pointer;
}
.btn:focus{
	opacity: 0.9;
}
.btn-success{
	background-color: green;
	color: white;
}
.btn-outline-success{
	background-color: white;
	color: green;
	border: 1px solid green;
	border-radius: 5px;
}
.btn-outline-success:hover{
	background-color: green;
	color: white;
	border: 1px solid green;
}
.btn-danger{
	background-color: #e53e3e;
	color: white;
}
.btn-info{
	background-color: #5a67d8;
	color: white;
}
.line-three{
	color: blue;
	letter-spacing: 14px;
}
.line-two{
	/*text-transform: uppercase;*/
/*	text-transform: lowercase;*/
    text-transform: capitalize;
    color: green;
}
.first-line{
	color: red;
/*	text-decoration: underline;*/
/*  text-decoration: overline;*/
   text-decoration: line-through;

}

.second{
	background-color: red;
	height: 180px;
	width: 100px;
	/*margin:24px 24px 24px 24px;*/
}
.child{
	height: 200px;
	
}
.main-div{
	padding:24px 24px 24px 24px;
	height:400px;
	border-width:10px;
	border-color: red;
	border-style: solid;
	

    margin-bottom: 24px;
    /*margin-top: 24px;*/
   /* margin-left: 100px;*/
}
.header{
	color: red;
	font-size: 100px;
	text-align: center;
}
.para{
	font-size: 18px;
	text-align: justify;
	text-indent: 14px;
	line-height: 24px;
}